.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    
}
.dairy{
    max-width: 800px;
    margin-bottom: 15px;
}
div .btn{
    margin-top:2rem;
}
h2{

    color:black;
    font-size: 30px;
}


p{
    font-size:20px;
}
h3{
    font-size:30px;
    text-align: center;
    text-decoration: underline;
}