
<mat-card class="content">
  <mat-card-content>
  <h2>Dairy Products</h2>
  
   <p>Milk and dairy products, such as cheese and yoghurt, 
     are great sources of protein and calcium. They can form part of a healthy, 
     balanced diet.</p>
     <p>
      Unsweetened calcium-fortified dairy alternatives like soya milks, soya yoghurts and soya cheeses also count as part of this food group, and can make good alternatives to dairy products.
     </p>
     <h2>Milk</h2>
     <p>The fat in milk provides calories for young children, and also contains essential vitamins.

      But for older children and adults, it's a good idea to go for lower fat milks because having too much fat in your diet can result in you becoming overweight.
      
      If you're trying to cut down on fat, try swapping to 1% fat or skimmed milk, as these still contain the important nutritional benefits of milk, but are lower in fat.</p>
      <h2>Cheese</h2>
      <p>
        Cheese can form part of a healthy, balanced diet, but it's good to keep track of how much you eat and how often as it can be high in saturated fat and salt.
      </p>
      <p>
        Most cheeses – including brie, stilton, cheddar, Lancashire and double Gloucester – contain between 20g and 40g of fat per 100g. Foods that contain more than 17.5g of fat per 100g are considered high in fat.
      </p>
      <p>
        Some cheeses can also be high in salt – more than 1.5g salt per 100g is considered high. Eating too much salt can contribute to high blood pressure.

Try choosing reduced-fat hard cheeses, which usually have between 10g and 16g of fat per 100g.
      </p>
      <p>
        Some cheeses are even lower in fat (3g of fat per 100g or less), including reduced-fat cottage cheese and quark.

If you're using cheese to flavour a dish or a sauce, you could try using a cheese that has a stronger flavour, such as mature cheddar or blue cheese, because then you'll need less.
      </p>
      <p>
        But remember, it's recommended that "at risk" groups, such as infants and young children, people over 65 years of age, pregnant women and those who have a long-term medical condition or weakened immune system, avoid eating certain cheeses.

These include mould-ripened soft cheeses like brie or camembert, ripened goats' milk cheese like chèvre, and soft blue veined cheese, such as roquefort.
      </p>
      <p>
        These cheeses may be made from unpasteurised milk and may therefore carry bacteria called listeria.

But these cheeses can be used as part of a cooked recipe as listeria is killed by cooking – baked brie, for example, is a safer option.
      </p>
      <h2>Other Dairy Products</h2>
      <p>
        Butter is high in fat and saturated fat. It can often be high in salt, too, so try to eat it less often and in small amounts.

Choosing lower fat spreads instead of butter is a good way to reduce your fat intake.
      </p>
      <p>
        Cream is also high in fat, so use this less often and in small amounts, too. You can use lower fat plain yoghurt and fromage frais instead of cream.

Alternatively, you could opt for reduced fat soured cream or reduced fat crème fraîche in recipes – but remember, these foods can also contain a lot of saturated fat.
      </p>
      <p>
        When eating yoghurts or fromage frais, choose lower fat varieties, but look at the label to check that they're not high in added sugar (plain lower fat yoghurts are a good choice as they usually don't contain added sugars).
      </p>
    <div>
        <button mat-raised-button class="btn"  routerLink="/services" color="primary">GO BACK</button>
    </div>
</mat-card-content>
</mat-card>

