.content{
    text-align: left;
    margin-left:2rem;
    margin-block-start: 2%;
    margin-right:10rem;
    text-combine-upright: auto;
    margin-block-end: 12%;
    
}
h2{
    
    color:grey;
    
}
P{
    max-width: 74%;
}
.image{
    max-width: 300px;
    margin-right: 20%;
}