<div class="content">
  <mat-card class="heading">
    <mat-card-content>
      <h2>Healthy Beverages</h2>
      <p>There are only so many times you can say, “Just water for me, thanks,” when the waiter takes your beverage order before you start to get bored. Water is a healthy and safe bet, sure. In fact, it can’t be beat. So what do you do when you want more options but don’t want to stray from the healthy side of things? Luckily, there are actually several beverages that can do you one favor or another while spicing up your waterlogged palette.</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="contains">

  <mat-card class="box">
    <mat-card-content>
      <h3>1. Pomegranate Juice</h3>
      <img mat-card-image src="https://imgix.bustle.com/lovelace/uploads/242/2ad25e00-e1ff-0131-6cdb-0aa0f90d87b4.jpg?w=349&fit=max&auto=format&q=70&dpr=2">
      <p>The powerful pomegranate has been consistently praised recently for the hefty antioxidants it packs. Research has suggested that the red juice may help prevent inflammation, heart disease, and cancer. So having a glass every now and then is a good choice. Just make sure you look at what you are drinking, as some bottles are diluted with other liquids or have added sugars. You want pure pomegranate. Don’t accept anything less.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="box">
      <mat-card-content>
        <h3>2. Green Tea</h3>
        <img mat-card-image src="https://imgix.bustle.com/lovelace/uploads/242/7ed200e0-e1ff-0131-bff3-0eb233c768fb.jpg?w=349&fit=max&auto=format&q=70&dpr=2">
        <p>A cup of green tea is a better choice than a cup of joe when that afternoon slump hits. You are jonesing for a caffeine buzz, so this will do the trick, with just enough caffeine to give you that energy boost but not so much that you crash later. And you'll also get a nice side of antioxidants with each cup.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="box">
        <mat-card-content>
          <h3>3. Orange Juice</h3>
          <img mat-card-image src="https://imgix.bustle.com/lovelace/uploads/242/a512b050-e1ff-0131-bff0-0eb233c768fb.jpg?w=349&fit=max&auto=format&q=70&dpr=2">
          <p>A glass of fresh squeezed OJ really hits the spot, but some feel it takes too much effort to make on a regular basis. If that is the case, save it for when it will be most handy, like come allergy season. Seasonal allergies have been shown to be soothed with both vitamin C and quercetin (a form of flavonol found in certain fruits and vegetables), both of which that freshly squeezed orange juice contains.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="box">
          <mat-card-content>
            <h3>4. Low Fat Milk</h3>
            <img mat-card-image src="https://imgix.bustle.com/lovelace/uploads/242/567f9c00-e1ff-0131-bff1-0eb233c768fb.jpg?w=349&fit=max&auto=format&q=70&dpr=2">
            <p>Milk has always been there for you, hasn’t it? Touted as an excellent source of calcium and vitamin D since you were a child, it may seem like less of a grown-up drink than other options, but low fat and skim milk are still great sources of protein and other essential micronutrients. And these low-fat varieties are the best choices because they contain much less saturated fat than reduced-fat milk or whole milk.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="box">
            <mat-card-content>
              <h3>5. Beet Juice</h3>
              <img mat-card-image src="https://imgix.bustle.com/lovelace/uploads/242/d2dfe680-e1ff-0131-6cd9-0aa0f90d87b4.jpg?w=349&fit=max&auto=format&q=70&dpr=2">
              <p>Beets have the ability to lower your blood pressure, increase your stamina, increase the blood flow to the brain in older adults (slowing the progression of dementia), and make for a healthy liver with their zero trans and saturated fats and high magnesium, calcium, and iron levels.</p>
            </mat-card-content>
          </mat-card>
        
          <mat-card class="box">
              <mat-card-content>
                <h3>6. Hot Chocolate</h3>
                <img mat-card-image src="https://imgix.bustle.com/lovelace/uploads/242/fd78dcd0-e1ff-0131-bff3-0eb233c768fb.jpg?w=349&fit=max&auto=format&q=70&dpr=2">
                <p>Yes, cocoa has a place on this list. How could that possibly be? Well if it weren’t for your least favorite monthly friend, it might not have made it. But if you're dealing with menstrual cramps, one of the best natural ways to ease the pain is through drinking beverages with high magnesium content.</p>
                <p>In order to get that magnesium, you need make your own homemade hot chocolate with raw cocoa powder (not that powdered stuff). If you need to sweeten it up a bit, try almond milk and honey or a little bit of maple syrup.</p>
              </mat-card-content>
            </mat-card>

            <mat-card class="box">
                <mat-card-content>
                  <h3>7. Kale Juice</h3>
                  <img mat-card-image src="https://imgix.bustle.com/lovelace/uploads/242/2df2cb50-e200-0131-6ce1-0aa0f90d87b4.jpg?w=349&fit=max&auto=format&q=70&dpr=2">
                  <p>Kale, kale, kale. Everybody loves kale. It might seem annoyingly trendy, but there are legitimate reasons why so many people are in love with this stuff. The dark, leafy green is packed with vitamins and minerals that help with everything from bone health to regulating your bowels.</p>
                  <p>And drinking your veggies is an excellent way to get multiple servings in one drink. Just avoid buying bottled, as those varieties tend to be pretty high in sodium. It might not be a bad idea to invest in a juicer and start making kale juice, and other veggie juices, at home.</p>
                </mat-card-content>
              </mat-card>

              <mat-card class="box">
                  <mat-card-content>
                    <h3>8. Lemon Juice</h3>
                    <img mat-card-image src="https://imgix.bustle.com/lovelace/uploads/242/560d1ee0-e200-0131-bff4-0eb233c768fb.jpg?w=349&fit=max&auto=format&q=70&dpr=2">
                    <p>Yes, you read that right. Not lemonade, lemon juice. You should drink lemon juice. That’s gross right? Well, it certainly takes care of gross stuff for us, like cleansing the liver, stimulating bile production, and helping with digestion. Lemon also brings vitamin C to the party to boost your immune system.</p>
                    <p>But no one was going to make you drink it on its own. Promise. Squeeze a half into a cool glass of water in the morning to get your day going right.</p>
                  </mat-card-content>
                </mat-card>
              

                <mat-card class="box">
                    <mat-card-content>
                      <h3>9.Ginger Tea</h3>
                      <img mat-card-image src="https://imgix.bustle.com/lovelace/uploads/242/8390f3f0-e200-0131-6cdc-0aa0f90d87b4.jpg?w=349&fit=max&auto=format&q=70&dpr=2">
                      <p>Ginger is an excellent natural remedy for all tummy troubles. It has been promoted as a way to sooth an upset stomach, relieve motion sickness and pregnancy related nausea, and ease digestion.</p>
                      <p>If this sounds like something you might enjoy, brew a cup of fresh ginger tea yourself by steeping one or two thin slices of fresh gingerroot in a cup of hot water. Spoon in a little honey if the resulting brew turns out to be on the spicy side.</p>
                    </mat-card-content>
                  </mat-card>

                  <mat-card class="box">
                      <mat-card-content>
                        <h3>10. Cranberry Juice</h3>
                        <img mat-card-image src="https://imgix.bustle.com/lovelace/uploads/242/accad780-e200-0131-6cdc-0aa0f90d87b4.jpg?w=349&fit=max&auto=format&q=70&dpr=2">
                        <p>Nobody likes a UTI. And once you have one, it can take up to 2 days after treatment starts for your symptoms to go away. So let’s get on the proactive side of things and help prevent the UTI by drinking pure cranberry juice, which one study found can work “against infections and bacteria within 8 hours of consumption.”</p>
                        <p>Now that study used cranberry juice cocktail, because it is the most popular cranberry beverage. But you can get the same benefits from pure cranberry juice and should choose it over cranberry juice cocktail. Why? One is loaded with added sugar. The other is not. Hint: The one with sugar is the one with cocktail in the name.</p>
                        <div>
                            <button mat-raised-button class="btn"  routerLink="/services" color="primary">GO BACK</button>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  
</div>