
.content{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: column;
    
}
.follows{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
div .btn{
    margin-top:2rem;
}
h3{
    font-size:20px;
   
}
h2{
    font-size:30px;
}
p{
    font-size:20px;
}
.box{
    
    max-width: 650px;
    margin-bottom: 15px;
  }