<div class="image">
    <div class="flex-1">
        <div class="sec-a">
            <h2>ABOUT US</h2>
        </div>
    </div>

    <div class="para">
        <p>Welcome to Healthy Living,<br>
            where we provide you online diet recommendation.</p>

        <p>We provide credible information and in-depth reference material about health subjects that matter to you. </p><br>

        <p>We are a source for original and timely health  <br>
            information as well as material from well known content providers.</p>

        <p>We are dedicated to providing quality health information and to upholding the integrity of our editorial process.</p>
        <p>We pride ourselves in knowing our audience's needs and delivering the most appropriate experience.</p>
        <p>We are committed to improving our site. <br>
        We will continue to publish even more content and services to help make your life better, to help you find your way when faced with healthcare decisions, and to help you feel better about your health and that of your family.</p>

        <p>We hope you enjoy our services as much as we enjoy offering them to you.</p>
        <p>If you have any queries or comments, please do not hesitate to contact us.</p><br>

        <p>OUR TEAM</p>
    </div>

    <div class="about">
      <div>
          <mat-card class="card">
              <img mat-card-image src="../../../assets/images/teesy.jpg" alt="Teesy">
              <h3>Teesta Koch</h3>
          </mat-card>
      </div>
      <div>
          <mat-card class="card">
              <img mat-card-image src="../../../assets/images/beauty.jpg" alt="Teesy">
             <h3>Beauty Gupta</h3>
          </mat-card>
      </div>
    </div>
</div>