<div class="image">
  <div class="head">
      <h2>DIET BLOG</h2>
  </div>
  <div class="contnt">
<div>
    <mat-card class="example-card">
        <img mat-card-image src="https://images.pexels.com/photos/691114/pexels-photo-691114.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500">
        <h3>Good foods to help your digestion</h3>
        <mat-card-content>
<p> A diet rich in fibre can help digestion and prevent constipation. Aim for the recommended dietary intake of 30g of fibre a day.</p>
<p>For a healthy bowel, you need fibre from a variety of sources,such as:<span id="dots1">...</span><span id="more">
        <ul>
            <li>wholemeal bread</li>
            <li>brown rice</li>
            <li>fruit and veg</li>
            <li>beans</li>
            <li>oats</li>
          </ul>     
          <p>Some people find cereals and grains bring on bloating and irritable bowel syndrome. If that's the case, get your fibre from fruit and vegetables instead.</p>  
          <p>Fibre acts like a sponge, absorbing water. Without fluid, the fibre can't do its job and you'll get constipation.</p>
          <p>A good way to make sure you're getting enough fluids is to drink a glass of water with every meal. Avoid caffeine drinks as they can cause heartburn.</span></p>
          <button mat-raised-button (click)="myFunction('myBtn1','dots1','more')" id="myBtn1">Read More</button>
</mat-card-content>
</mat-card>
</div>
<div>
<mat-card class="example-card">
    <img mat-card-image src="https://images.unsplash.com/photo-1554991268-d796f9835cdf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80">
    <h3>The Best Indian Diet Plan For Weight Loss</h3>
    <mat-card-content>
<p> The Indian diet is rich in nutritious foods like grains, lentils, healthy fats, vegetables, dairy and fruits.</p>
<p>A lacto-vegetarian diet is encouraged, and <span id="dots2">...</span><span id="more1">eating meat, poultry, fish and eggs is discouraged. 
Lacto-vegetarians do, however,eat dairy products.
    <p>A healthy lacto-vegetarian diet should focus on grains, lentils, dairy, vegetables, fruits and healthy fats like coconut oil.</p>
    <p>There are many delicious foods and beverages to choose from when following a lacto-vegetarian diet for weight loss.</p>
    <p>Try incorporating the following ingredients into your daily meal plan:</p>
    <ul>
      <li>Vegetables: Tomatoes, spinach, eggplant, mustard greens, okra, onions, bitter melon, cauliflower, mushrooms, cabbage and more
        </li>
        <li>Fruits: Including mango, papaya, pomegranate, guava, oranges, tamarind, lychee, apples, melon, pears, plums, bananas</li>
        <li>Nuts and seeds: Cashews, almonds, peanuts, pistachios, pumpkin seeds, sesame seeds, watermelon seeds and more</li>
        <li>Roots and tubers: Potatoes, carrots, sweet potatoes, turnips, yams</li>
        <li>Whole grains: Brown rice, basmati rice, millet, buckwheat, quinoa, barley, corn, whole-grain bread, amaranth, sorghum</li>
        <li>Dairy: Cheese, yogurt, milk, kefir, ghee</li>
        <li>Herbs and spices: Garlic, ginger, cardamom, cumin, coriander, garam masala, paprika, turmeric, black pepper, fenugreek, basil and more</li>
        <li>Healthy fats: Coconut milk, full-fat dairy, avocado, coconut oil, mustard oil, olive oil, peanut oil, sesame oil, ghee</li>
    </ul>
    <p>Healthy beverage options include:</p>
    <ul>
      <li>Water</li>
      <li>Sparkling water</li>
      <li>Unsweetened tea including Darjeeling, Assam and Nilgiri teas</li>
     </ul>
     <p>Avoiding sweetened beverages, fast food, fried items and products high in added sugar can help you lose weight and get healthier.</span></p>
      <button mat-raised-button (click)="myFunction('myBtn2','dots2','more1')" id="myBtn2">Read More</button>
</mat-card-content>
</mat-card>
</div>
<div>
    <mat-card class="example-card">
        <img mat-card-image src="https://images.unsplash.com/photo-1528279335935-f486951a6adf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
        <h3>Green Bananas Help Relieve Diarrhea</h3>
        <mat-card-content>
<p>An upset stomach caused by an infection or food poisoning is often accompanied by diarrhea.</p>
<p>Interestingly, several studies have found that <span id="dots3">...</span><span id="more2">giving cooked, green bananas to children with diarrhea can help reduce the amount, severity, and duration of episodes.
<p>In fact, one study found that the addition of cooked, green bananas was nearly four times more effective at eliminating diarrhea than a rice-based diet alone.</p>
<p>The powerful antidiarrheal effects of green bananas are due to a special type of fiber they contain known as resistant starch.</p>
<p>Resistant starch cannot be digested by humans, so it continues through the digestive tract all the way to the colon, the final portion of the intestines.</p>
<p>Once in the colon, it is slowly fermented by your gut bacteria to produce short-chain fatty acids, which stimulate the bowels to absorb more water and firm up the stools.</span></p>
          <button mat-raised-button (click)="myFunction('myBtn3','dots3','more2')" id="myBtn3">Read More</button>
</mat-card-content>
</mat-card>
</div>
<div>
    <mat-card class="example-card">
        <img mat-card-image src="https://doctorsimmediatecare.com/wp-content/uploads/2018/10/doctors-immediate-care-nausea.jpg">
        <h3>Natural Ways to Get Rid of Nausea</h3>
        <mat-card-content>
<p>Nausea is something most people are familiar with. It is never pleasant and can arise in a variety of situations, including pregnancy and travel.
<p>Anti-nausea medications are commonly <span id="dots4">...</span><span id="more3">used to help relieve it. Unfortunately, such medications can have negative side effects of their own, including drowsiness.
<p>Here are home remedies that help you get rid of nausea without using medications.</p>
<ul>
  <li><h4>Eat Ginger</h4></li>
  <li><h4>Peppermint Aromatherapy</h4></li>
  <li><h4> Slice a Lemon</h4></li>
  <li><h4>Use Certain Spices</h4></li>
  <li><h4>Take a Vitamin B6 Supplement</h4></li>
  <li><h4>Additional Tips to Reduce Nausea</h4></li>
  <ul>
    <li>Avoid spicy or fatty foods: A blander diet made up of foods such as bananas, rice, applesauce, crackers or baked potatoes may relieve nausea and decrease the likelihood of an upset stomach.</li>
    <li>Add protein to your meals: Protein-rich meals may fight off nausea better than meals high in fat or carbs </li>
    <li>Avoid large meals: Opting for smaller, more frequent meals when you're feeling nauseated may help reduce your symptoms.</li>
    <li>Avoid drinking with meals: Drinking any liquids with meals may increase feelings of fullness, which may worsen nausea in some individuals</li>
    <li>Stay hydrated: Dehydration can worsen nausea. If your nausea is accompanied by vomiting, replace your lost fluids with electrolyte-rich fluids such as flat mineral water, vegetable broth or a sports drink.</li>
    <li></li>
  </ul>
</ul>
<p>Nausea can happen in many situations and often makes you feel terrible.
    The natural tips above can help reduce nausea without using medications. 
    That said, if your nausea persists, you should definitely seek additional advice from your healthcare practitioner.</span></p>
          <button mat-raised-button (click)="myFunction('myBtn4','dots4','more3')" id="myBtn4">Read More</button>
</mat-card-content>
</mat-card>
</div>
<div class="last-div"> 
    <mat-card class="example-card">
        <img mat-card-image src="https://images.pexels.com/photos/1470716/pexels-photo-1470716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        <h3>Water-Rich Foods That Help You Stay Hydrated</h3>
        <mat-card-content>
<p>Proper hydration is extremely important for your health.</p>
<p>In fact, not drinking enough water can lead to dehydration, which can cause fatigue, <span id="dots5">...</span><span id="more4">headaches, skin problems, muscle cramps, low blood pressure and a rapid heart rate.
<p>Experts generally recommend drinking several glasses of water per day to meet your hydration needs.</p>
<p>But while drinking water is very important, you can also get it from foods. There are many healthy foods that can contribute a large amount of water to your diet.</p>
<p>Water-rich foods that will help you stay hydrated are : </p>
<ul>
  <li>Watermelon</li>
  <li>Strawberries</li>
  <li>Cantaloupe</li>
  <li>Peaches</li>
  <li>Oranges</li>
  <li>Cucumber</li>
  <li>Lettuce</li>
  <li>Tomatoes</li>
  <li>Grapefruit</li>
  <li>Coconut Water</li>
</ul>
<p>Staying hydrated is extremely important for your overall health.</p>
<p>While drinking water is important, you can consume a significant amount of water by including a variety of water-rich fruits, vegetables and dairy products in your diet.
    This is why most people don’t necessarily have to drink a lot of water.</span></p>
          <button mat-raised-button (click)="myFunction('myBtn5','dots5','more4')" id="myBtn5">Read More</button>
</mat-card-content>
</mat-card>
</div>
</div>
</div>