<mat-card class="content">
  <mat-card-content>
    <h3>Meat In Your Diet</h3>
    <p>Meats such as chicken, pork, lamb and beef are all rich in protein. A balanced diet can include protein from meat, as well as from non-animal sources such as beans and pulses. Red meat provides us with iron, and meat is also one of the main sources of vitamin B12.</p>
    <p>Making healthier choices can help you eat meat as part of a healthy, balanced diet. But some meats are high in saturated fat, which can raise blood cholesterol levels.</p>
    <p>If you eat a lot of red and processed meat, it is recommended that you cut down as there is likely to be a link between red and processed meat and bowel cancer.</p>
    <p>Food hygiene is important when storing, preparing and cooking meat.</p>
    <h3>Meat And Saturated Fats</h3>
    <p>Some meats are high in fat, especially saturated fat. Eating a lot of saturated fat can raise cholesterol levels in the blood, and having high cholesterol raises your risk of heart disease.</p>
    <p>In general, red meats (beef, pork and lamb) have more saturated (bad) fat than chicken, fish and vegetable proteins such as beans. Saturated and trans fats can raise your blood cholesterol and make heart disease worse.</p>
    <p>The unsaturated fats in fish, such as salmon, actually have health benefits.</p>
    <h3>How do you make healthier choices in buying meat?</h3>
    <p>When buying meat, go for the leanest option. As a rule, the more white you can see on meat, the more fat it contains. For example, back bacon contains less fat than streaky bacon.</p>
    <p>Tips to buy-</p>
    <ul>
      <li>ask your butcher for a lean cut.</li>
      <li>if you're buying pre-packed meat, check the nutrition label to see how much fat it contains and compare products.</li>
      <li>try to limit processed meat products such as sausages, salami, pâté and beefburgers, because these are generally high in fat – they are often high in salt, too.</li>
      <li>try to limit meat products in pastry, such as pies and sausage rolls, because they are often high in fat and salt.</li>
    </ul>
    <h3>Red Meat Vs Processed Meat</h3>
    <p>Red meat (such as beef, lamb and pork) can form part of a healthy diet. But eating a lot of red and processed meat probably increases your risk of bowel (colorectal) cancer.</p>
    <p>Processed meat refers to meat that has been preserved by smoking, curing, salting or adding preservatives. This includes sausages, bacon, ham, salami and pâtés.</p>
    <p>If you currently eat more than 90g (cooked weight) of red and processed meat a day, the Department of Health advises that you cut down to 70g, which is the average daily consumption in the UK.</p>
    <p>Ninety grams is equivalent to around three thinly cut slices of beef, lamb or pork, where each slice is about the size of half a piece of sliced bread. A cooked breakfast containing two typical British sausages and two rashers of bacon is equivalent to 130g.</p>
    <h3>Storing Meat</h3>
    <p>It's important to store and prepare meat safely to stop bacteria from spreading and to avoid food poisoning:</p>
    <ul>
      <li>store raw meat or raw poultry in clean sealed containers on the bottom shelf of the fridge, so the meat can't touch or drip onto other food.</li>
      <li>follow any storage instructions on the label and don't eat meat after its "use by" date.</li>
      <li>if you cook meat that you're not going to eat straight away, cool it as quickly as possible and then put it in the fridge or freezer – remember to keep cooked meat separate from raw meat.</li>
      <li>always thoroughly clean plates, utensils, surfaces and hands straight away after they have touched raw or thawing meat to stop bacteria from spreading.</li>
    </ul>
    <h3>Liver And Liver Products</h3>
    <p>Liver and liver products, such as liver pâté and liver sausage, are a good source of iron, as well as being a rich source of vitamin A.</p>
    <p>You should be able to get all the vitamin A you need from your daily diet. Adults need.</p>
    <ul>
      <li>700 micrograms of vitamin A per day for men.</li>
      <li>600 micrograms of vitamin A per day for women.</li>
    </ul>
    <p>However, because they are such a rich source of vitamin A, we should be careful not to eat too much liver and liver product foods. Over the years, a harmful level of vitamin A can build up in the body. This is because the body stores any vitamin A it doesn't use for future use, which means you do not need to consume it every day.</p>
    <p>Having too much vitamin A – more than 1.5mg of vitamin A per day from food and supplements – over many years may make your bones more likely to fracture when you are older.</p>
    <p>People who eat liver or liver pâté once a week may be having more than an average of 1.5mg of vitamin A per day. If you eat liver or liver products every week, you may want to consider cutting back or not eating them as often. Also, avoid taking any supplements that contain vitamin A and fish liver oils, which are also high in vitamin A.</p>
    <p>Pregnant women should avoid vitamin A supplements and liver and liver products.</p>

    <div>
        <button mat-raised-button class="btn"  routerLink="/services" color="primary">GO BACK</button>
  </div>
  </mat-card-content>
</mat-card> 