<div class="footer">
    <mat-toolbar class="toolbar">
      <div class="d-links">
        <div>
            <a mat-button routerLink="/about">
             <span>About Us</span> 
            </a>
        </div>
    <div>
        <a mat-button href="https://github.com/Teesy99/Diet-Recommendation">
          Github
        </a>
    </div>
      
       <div>
          <a mat-button routerLink="/contact">
            Contact
          </a>
       </div>

       <div>
          <a mat-button routerLink="/tc">
            T&C
          </a>
       </div>
       </div>
       </mat-toolbar>
       </div>
       