<mat-card class="content">
<mat-card-content>
    <h2>Balanced diet in your Meal</h2>
    <p>
            A balanced diet is one that gives your body the nutrients it needs to function correctly. To get the proper nutrition from your diet, you should consume the majority of your daily calories in.
    </p>
    <ul>
        <li><a routerLink="/Fruits">fruits</a></li>
        <li><a routerLink="/Herb">Herbs</a></li>
        <li><a routerLink="/Dairy">Dairy</a></li>
        <li><a routerLink="/meal">Proteins(meat)</a></li>
    </ul>
    <h2>About calories</h2>
    <p>
            The number of calories in a food is a measurement of the amount of energy stored in that food. Your body uses calories from food for walking, thinking, breathing, and other important functions.
    </p>
    <p>
            The average person needs to eat about 2,000 calories every day to maintain their weight. However, a person’s specific daily calorie intake can vary depending on their age, gender, and physical activity level. Men generally need more calories than women, and people who exercise need more calories than people who don’t.
    </p>
    <p>
            The following examples of daily calorie intake are based on United States Department of Agriculture (USDA)Trusted Source guidelines:
    </p>
    <ul>
        <li>children ages 2 to 8 years: 1,000 to 1,400 calories</li>
        <li>girls ages 9 to 13 years: 1,400 to 1,600 calories</li>
        <li>boys ages 9 to 13 years: 1,600 to 2,000 calories</li>
        <li>active women ages 14 to 30 years: 2,400 calories</li>
        <li>sedentary women ages 14 to 30 years: 1,800 to 2,000 calories</li>
        <li>active men ages 14 to 30 years: 2,800 to 3,200 calories</li>
        <li>sedentary men ages 14 to 30 years: 2,000 to 2,600 calories</li>
        <li>active men and women over 30 years: 2,000 to 3,000 calories</li>
        <li>sedentary men and women over 30 years: 1,600 to 2,400 calories</li>
        </ul>
        <p>
                The source of your daily calories is just as important as the number of calories you consume. You should limit your consumption of empty calories, meaning those that provide little or no nutritional value. The USDA defines empty calories as calories that come from sugars and solid fats, such as butter and shortening.


        </p>
        <h2>How to achieve the balanced diet</h2>
        <p>
                At the core of a balanced diet are foods that are low in unnecessary fats and sugars and high in vitamins, minerals, and other nutrients. The following food groups are essential parts of a balanced diet.
        </p>
        <h2>Fruits</h2>
        <p>
                Fruits are high in sugar. This sugar is natural, though, so fruit can still be a better choice for you than other foods with added sugar. If you’re watching your sugar intake or have a condition such as diabetes, you may want to opt for low-sugar fruits. Read on to learn about the 11 best low-sugar fruits, from citrus to peaches. People who are watching their carbohydrate intake may reach for fruits such as melons and avocadoes.
        </p>
        <p>
                Besides being a great source of nutrition, fruits make tasty snacks. Choose fruits that are in season in your area. They’re fresher and provide the most nutrients.
        </p>
        <h2>Vegetables</h2>
        <p>
                Vegetables are primary sources of essential vitamins and minerals. Dark, leafy greens generally contain the most nutrition and can be eaten at every meal. Eating a variety of vegetables will help you obtain the bountiful nutrients that all vegetables provide.
        </p>
        <p>
                Examples of dark leafy greens include:
        </p>
        <ul>
            <li>spinach</li>
            <li>kale</li>
            <li>green beans</li>
            <li>broccoli</li>
            <li>collard greens</li>
            <li>swiss card</li>
        </ul>
        <h2>Grains</h2>
        <p>
                According to the USDA, Americans consume refined white flour more than any other grain. Refined white flour has poor nutritional value because the hull of the grain, or outer shell, is removed during the refining process. The hull is where the majority of the grain’s nutrition lies.
        </p>
        <p>
                Whole grains, however, are prepared using the entire grain, including the hull. They provide much more nutrition. Try switching from white breads and pastas to whole-grain products. 
        </p>
        <h2>Proteins</h2>
        <p>
                Meats and beans are primary sources of protein, a nutrient that is essential for proper muscle and brain development. Lean, low-fat meats such as chicken, fish, and certain cuts of pork and beef are the best options. Removing the skin and trimming off any visible fat are easy ways to reduce the amount of fat and cholesterol in meats. The health and diet of the animal are important and influence the fatty acid profile of the meat, so grass-fed choices are ideal.
        </p>
        <p>
                    Nuts and beans are good sources of protein and contain many other health benefits, as well as fiber and other nutrients. Try to eat:
        </p>
        <ul>
            <li>lentils</li>
            <li>Beans</li>
            <li>peas</li>
            <li>almonds</li>
            <li>sunflower seeds</li>
            <li>walnuts</li>
        </ul>
        <p>
                Tofu, tempeh, and other soy-based products are excellent sources of protein and are healthy alternatives to meat.
        </p>
    
</mat-card-content>
<div>
        <button mat-raised-button class="btn"  routerLink="/services" color="primary">GO BACK</button>
</div>
</mat-card>

