a{
    color: black;
}
a:hover{
    color:red;

}
a:active{
    color:green;
}
.content{
    max-width: 800px;
    margin-bottom: 10px;
}
.contains{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
 li{
    font-size:20px;
}
h2{
    
    font-size:30px;
}
div .btn{
    margin-top:2rem;
}
p{
    font-size:20px;
}
h3{
    font-size:30px;
    text-align: center;
    text-decoration: underline;
}