a{
    color: black;
}
a:hover{
    color:red;

}
a:active{
    color:green;
}
.content{
    height: auto;
    margin: 15px 20px 15px 20px;
    background-color: white;
    justify-content: center;
    width:auto;
    text-align: left;
}
h2{
    text-decoration: underline;
}
div .btn{
    margin-top:2rem;
}