.content{
    height: auto;
    margin: 15px 20px;
    background-color: white;
    justify-content: center;
    width:auto;
    text-align: left;
}
h3{
    text-decoration: underline;
    font-size:20px;
}
p{
    font-size: 20px;
}
div .btn{
    margin-top:2rem;
}