<mat-card class="content">
  <mat-card-content>
    <h3>Fruits</h3>
    <p>
        Fruit is the sweet, fleshy, edible part of a plant. It generally contains seeds. Fruits are usually eaten raw, although some varieties can be cooked. They come in a wide variety of colours, shapes and flavours.
    </p>
    <p>Some of the healthiest fruits are as follw-</p>
    <h3>Grapefruit</h3>
    <p>
        Grapefruit is one of the healthiest citrus fruits.
        Besides being a good source of vitamins and minerals, it is known for its ability to aid weight loss and reduce insulin resistance.
    </p>
    <p>
        For example, in a study in 91 people, those who ate half a fresh grapefruit before meals lost 2.9 pounds (1.3 kg) more weight than those who didn’t
    </p>
    <p>
        The grapefruit group had a significant reduction in insulin levels and reduced insulin resistance.
    </p>
    <p>
        Also, eating grapefruit helps to reduce cholesterol levels and help prevent kidney stones.
    </p>
    <p>
        Grapefruit is highly nutritious. Eating it may reduce insulin resistance, cholesterol and help prevent kidney stones. Grapefruit may also be useful for weight loss.
    </p>
    <h3>Pineapple</h3>
    <p>
        Among the tropical fruits, pineapple is a nutrition superstar. One cup (237 ml) of pineapple provides 131% of the Reference Daily Intake (RDI) for vitamin C and 76% of the RDI for manganese.
    </p>
    <p>
        Pineapple also contains bromelain, a mixture of enzymes known for its anti-inflammatory properties and ability to digest protein.
    </p>
    <p>
        Test-tube and animal studies suggest that bromelain may help protect against cancer and tumor growth.
    </p>
    <p>
        Pineapple is rich in vitamin C and manganese. Its bromelain content may fight inflammation and reduce the risk of cancer.
    </p>
    <h3>Avocado</h3>
    <p>
        Avocado is different from most other fruits.
        Most fruits are high in carbs, while avocado is low in carbs and comprised mainly of healthy fats.
    </p>
    <p>
        The majority of the fat in avocado is oleic acid, a monounsaturated fat linked to reduced inflammation and better heart health.
    </p>
    <p>
        In addition to healthy fats, avocados are loaded with potassium, fiber and magnesium (11).
        One whole avocado provides 28% of the RDI for potassium. Adequate potassium intake is associated with reduced blood pressure and a lower risk of stroke.
    </p>
    <p>
        Avocados are rich in healthy fats and potassium, both of which are well known for their role in promoting heart health.
    </p>
    <h3>Blueberries</h3>
    <p>
        Blueberries have powerful health benefits.
        They have an impressive nutrition profile, being particularly high in fiber, vitamin C, vitamin K and manganese.
    </p>
    <p>
        Blueberries are also exceptionally high in antioxidants.
        In fact, they are believed to contain the highest antioxidant content of the most commonly consumed fruits.
    </p>
    <p>
        The antioxidants in blueberries may reduce the risk of chronic conditions, such as heart disease, diabetes and Alzheimer’s.
    </p>
    <p>Blueberries are also known for their powerful effects on the immune system.
        One study found that eating blueberries regularly may increase natural killer cells in the body. These help defend you against oxidative stress and viral infections.</p>
    <p>Additionally, the antioxidants in blueberries may have a protective effect on your brain. For example, eating blueberries has been shown to improve memory in older adults.</p>
    <p>Blueberries are rich in a few important nutrients. They have a high antioxidant capacity and immune-enhancing properties, which may protect the body from illness.</p>
    <h3>Apples</h3>
    <p>Apples are among the most popular fruits, and also happen to be incredibly nutritious.
        They contain a high amount of fiber, vitamin C, potassium and vitamin K. They also provide some B vitamins.</p>
    <p>
        Studies suggest that the antioxidants in apples can promote heart health and reduce the risk of type 2 diabetes, cancer and Alzheimer’s.</p>
    <p>The antioxidant activity in apples has also been linked with increased bone density in animal and test-tube studies.</p>
    <p>Another notable health benefit of apples is their pectin content.</p>
    <p>Pectin is a prebiotic fiber that feeds the good bacteria in your gut and helps improve digestion and metabolic health.</p>
    <p>Apples are very nutritious. Their nutrients, antioxidants and fiber may reduce the risk of disease and improve digestion.</p>
    <h3>Pomegranate</h3> 
    <p>Not only are they nutrient dense, they also contain powerful plant compounds that are responsible for most of their health benefits.</p>
    <p>The antioxidant levels in pomegranate have been shown to be three times higher than those of green tea and red wine.</p>
    <p>Studies have also shown that pomegranates have anti-inflammatory effects and may help reduce the risk of cancer.</p>
    <p>Pomegranates have wide-ranging health benefits. They are incredibly high in antioxidants and other plant compounds that can help reduce inflammation and prevent disease.</p>
    <h3>Mangoes</h3>
    <p>Mangoes are an excellent source of vitamin C.
       They also contain soluble fiber, which can provide many health benefits.</p>
    <p>Additionally, mangoes have strong antioxidant and anti-inflammatory properties that may help reduce the risk of disease.</p>
    <p>In animal studies, the plant compounds in mangoes have been shown to protect against diabetes.</p>
    <p>Mangoes contain vitamin C and soluble fiber. They also contain plant compounds with antioxidant and anti-inflammatory effects.</p>
    <h3>Strawberries</h3>
    <p>Strawberries are highly nutritious.
        Their vitamin C, manganese, folate and potassium contents are where they really shine.</p>
    <p>Compared to other fruits, strawberries have a relatively low glycemic index. Eating them shouldn’t cause a big blood sugar spike.
        Similarly to other berries, strawberries have a high antioxidant capacity, which may reduce your risk of chronic disease.</p>
    <p>Animal and test-tube studies have found that strawberries may also help prevent cancer and tumor formation.</p>
    <p>Strawberries are rich in several nutrients and antioxidants. Eating them may help control your blood sugar levels and reduce your risk of some diseases.</p>
    <h3>Watermelon</h3>
    <p>Watermelon is high in vitamins A and C. It’s also rich in some important antioxidants, including lycopene, carotenoids and cucurbitacin E.</p>
    <p>Some of watermelon’s antioxidants have been studied for their anti-cancer effects.</p>
    <p>Lycopene intake is linked with a reduced risk of cancers of the digestive system, while cucurbitacin E may inhibit tumor growth.</p>
    <p>Consuming lycopene-rich foods can also promote heart health because of their ability to reduce cholesterol and blood pressure.</p>
    <p>Of all the fruits, watermelon is one of the most hydrating. It is made up of 92% water, which can help you feel more full.</p>
    <p>Watermelon is high in water, nutrients and antioxidants. It is also particularly high in a powerful antioxidant called lycopene.</p>
    <h3>Olives</h3>
    <p>Olives are a good source of vitamin E, iron, copper and calcium.
        They also provide a lot of antioxidants, which may help prevent heart disease and liver damage, as well as have anti-inflammatory effects.</p>
    <p>Similarly to avocados, olives contain oleic acid, which may provide several benefits for heart health and cancer prevention.</p>
    <p>Additionally, animal studies have linked some of the plant compounds in olives with a reduced risk of osteoporosis.</p>
    <p>Olives provide a variety of vitamins, minerals and antioxidants. These may reduce the risk of heart disease, cancer and osteoporosis.</p>
    <h3>Blackberries</h3>
    <p>Blackberries are another incredibly healthy fruit, packed with vitamins, minerals, fiber and antioxidants.
        They provide an impressive amount of vitamin C, vitamin K and manganese.</p>
    <p>One cup (237 ml) of blackberries provides a whopping 8 grams of fiber (60).
        Also, the antioxidants in blackberries have been shown to reduce inflammation and aging of the arteries. Both effects may protect against chronic illness, such as heart disease and cancer.</p>
    <p>Blackberries are a good source of many nutrients and beneficial plant compounds. Their antioxidants and anti-inflammatory properties may lower the risk of chronic disease.</p>
    <h3>Oranges</h3>
    <p>Oranges are one of the most popular and nutritious fruits in the world.</p>
    <p>Eating one medium orange will provide a significant amount of vitamin C and potassium. They’re also a good source of B vitamins, such as thiamine and folate.</p> 
    <p>The plant compounds in oranges are responsible for most of their health benefits. These include flavonoids, carotenoids and citric acid.</p>
    <p>For example, citric acid may reduce the risk of kidney stones.</p>
    <p>Oranges are similar to lemons with their impressive amounts of vitamin C and citric acid, which help increase iron absorption and prevent anemia.</p>
    <p>Oranges contain some important vitamins, minerals and antioxidants. These may reduce the risk of several conditions such as kidney stones and anemia.</p>
    <h3>Guava</h3>
    <p>Guava has a remarkable nutrition profile.
        Eating just one ounce (28 grams) of guava will give you 107% of the RDI for vitamin C (80).      
        Guava is also rich in fiber, folate, vitamin A, potassium, copper and manganese.</p>
    <p>The antioxidants in guava have been shown to protect cells from oxidative damage, indicating that they may help reduce the risk of chronic disease.</p> 
    <p>Guava is another great source of pectin, which benefits digestion and may help prevent colon cancer.</p>
    <p>Guava is high in vitamins, minerals, fiber and antioxidants. It may reduce inflammation and help prevent certain cancers.</p>   
  </mat-card-content>
  <div>
      <button mat-raised-button class="btn"  routerLink="/services" color="primary">GO BACK</button>
</div>
</mat-card>